  .friendAva{
    width: 2vw;
    height: 2vw;
    border: 1px solid black;
    border-radius: 50%;
    background-color: crimson;
    margin:3%;
    text-align: center;
    margin-bottom: 4%;
    cursor: pointer;
  }

 .friendName{
  font-size: 55%;
  margin-top: 105%;
 }