
nav{
    grid-area: nav;
    padding: 20px;
    background-color:gainsboro;
  }
  
  nav ul{
    list-style: none;
    padding: 1%;
    font-weight: 600;
  }
  
  nav li{
    padding: 2%;
  }
  
  nav p{
    margin-top: 30%;
    font-weight: 600;
  }
  
  nav a{
    color: white;
    text-decoration:none;
  }
  
  nav a.active{
    color: crimson;
  }

